<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Attendance Submitted - College Attendance Portal</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/attendance_already_marked.css' %}">
</head>
<body>
  <header class="header">
    <h1 class="header-title">COLLEGE OF ENGINEERING TRIKARIPUR</h1>
    <h2>Attendance Portal</h2>
    </header>
    <div class="container">
        <div class="error-container">
            <div class="error-message">
                <i class="fas fa-exclamation-circle"></i> Attendance has been already marked from this Device.
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; QR Attendance System 2021-25 - CIVILIAN CS</p>
    </footer>
</body>
</html>