<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
<link rel="stylesheet" href="{% static 'css/generate_qr.css' %}">
    <title>Generate QR Code</title>
</head>
<body>
    <header class="header">
        <h1 class="header-title">COLLEGE OF ENGINEERING TRIKARIPUR</h1>
        <h2>Attendance Portal</h2>
    </header>
    <div class="container">
        <h3>Generate QR Code for Attendance</h3>
        <form method="get" action="{% url 'generate_qr_code' %}">
            <label for="course_code">Course Code:</label>
            <input type="text" id="course_code" name="course_code" required>
            <button type="submit">Generate QR Code</button>
        </form>
        {% if qr_code_url %}
            <div class="qr-code">
                <img src="{{ qr_code_url }}" alt="QR Code">
            </div>
        {% endif %}
        <form method="post" action="{% url 'faculty_logout' %}">
            {% csrf_token %}
            <button style="float: right;" type="submit">Logout</button>
        </form>
    </div>
    <footer class="footer">
      <p>&copy; QR Attendance System 2021-25 - CIVILIAN CS</p>
    </footer>
  
</body>
</html>
