<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/list_course.css' %}">
</head>
<body>
    <header class="header">
        <h1 class="header-title">COLLEGE OF ENGINEERING TRIKARIPUR</h1>
        <h2>Attendance Portal</h2>
    </header>
    <div class="container">
        <h3>Select Course for {{ date }}</h3>
        <form method="post" action="{% url 'view_attendance' %}">
            {% csrf_token %}
            <input type="hidden" name="date" value="{{ date }}">
            <label for="course_code">Course:</label>
            <select id="course_code" name="course_code" required>
                {% for course in courses %}
                    <option value="{{ course.code }}">{{ course.name }} - {{ course.branch.name }} - {{ course.year.year }}</option>
                {% endfor %}
            </select>
            <button type="submit">View Attendance</button>
        </form>
    </div>
    <footer class="footer">
        <p>&copy; QR Attendance System 2021-25 - CIVILIAN CS</p>
    </footer>
</body>
</html>
