/* generate_qr.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    color: #333;
}

header.header {
    background-color: #343a40;
    color: #fff;
    padding: .1rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.header-title {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #444;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #555;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form select {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

form button {
    background-color: #28a745;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2%;
}

form button:hover {
    background-color: #218838;
}

.qr-code {
    text-align: center;
    margin-top: 2rem;
}

.qr-code img {
    max-width: 100%;
    height: auto;
}

.footer {
    text-align: center;
    padding: .3rem 0;
    background-color: #34403a;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
