
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    background:linear-gradient(rgb(91, 2, 192),rgb(14, 10, 22));
    color: #ffffff;
    padding: 20px ;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    
}

.header-title {
    margin: 0;
    font-size: 1.5em;
}

.container {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: #edeff1;
    font-size: 1.8em;
    margin-bottom: 20px;
    
}
h3 {
    color: #010509;
    font-size: 1.8em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

select, button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #343a40;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #343a40;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #495057;
}
.footer {
    position: absolute;
    background:linear-gradient(rgb(91, 2, 192),rgb(14, 10, 22));
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
  }